*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main{
    background-color: black;
    height: 100vh;
    margin: 0 auto;
    padding: 60px;
}
.form_text{
    margin: 40px auto;
    padding: 30px;
    justify-content: right;
    max-width: 900px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 500px;
    background-color: antiquewhite;
    cursor: pointer;
} 
.text_input{
    padding: 10px;
    border-radius: 10px;
    color: rgb(116, 109, 109);
    border: none;
    
}
.btn_clear{
    align-self: flex-end;
    margin-top: 10px;
    cursor: pointer;
    max-width: 80px;
    border-radius: 3px;
}
.btn_clear:active{
    background-color: rgb(245, 190, 171);
}
